@mixin flex(
  $direction: default,
  $align-items: center,
  $justify-content: center
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: wrap;
}

html,
body {
  margin: 0;
  .dark-mode {
    background-color: rgb(29, 34, 57);
    color: white;
    // border: 1px solid white;
    h1,
    h2,
    h3,
    h4,
    p,
    label,
    .ant-form-text {
      border: none;
      color: white;
    }

    .ant-select-selector {
      span {
        color: black;
      }
    }
    .border {
      border: 1px solid white;
    }
  }
  .light-mode {
    background-color: rgb(255, 251, 253);
    h1,
    h2,
    h3,
    h4,
    p,
    span {
      border: none;
    }
    .border {
      border: 1px solid black;
    }
    .ant-checkbox {
      border: 1px solid gainsboro;
    }
  }
  .container {
    @include flex($direction: column, $justify-content: default);
    // display: flex;
    height: 100vh;
    width: 100vw;
    // flex-direction: column;
    // align-items: center;
    border: none;
    .survey-select-section {
      margin: 15px;
      @include flex;
      border-radius: 10px;
      width: 90%;
      height: 80%;
      padding: 20px;
      .survey-slect-box {
        @include flex($direction: column);
        margin: 10px;
        padding: 10px;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    .survey-list-section {
      margin: 15px;
      @include flex($direction: column, $justify-content: default);
      border-radius: 10px;
      width: 90%;
      height: 80%;
      padding: 30px;
      // &-section {
      //   @include flex($direction: column);
      //   margin: 10px;
      //   padding: 10px;
      //   width: 200px;
      //   height: 200px;
      //   border-radius: 10px;
      // }
    }
  }
}
